<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<div class="mat-elevation-z8">
  
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome do curso </th>
      <td mat-cell *matCellDef="let element"> {{element.nome_curso}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="fec">
      <th mat-header-cell *matHeaderCellDef> FEC </th>
      <td mat-cell *matCellDef="let element"> {{element.fec_curso}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="carga">
      <th mat-header-cell *matHeaderCellDef> C.H min Regulamentada </th>
      <td mat-cell *matCellDef="let element"> {{element.cargahora_curso}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cargaint">
      <th mat-header-cell *matHeaderCellDef> C.H min Regulamentada Integrado </th>
      <td mat-cell *matCellDef="let element" > {{element.cargahora_cursointegrado}} </td>
      
    </ng-container>

    <ng-container matColumnDef="eixo">
      <th mat-header-cell *matHeaderCellDef> Eixo Tecnológico </th>
      <td mat-cell *matCellDef="let element" > {{element.eixo_tecnologico}} </td>
      
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo de Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_curso}} </td>
      
    </ng-container>

    <ng-container matColumnDef="obs">
      <th mat-header-cell *matHeaderCellDef> Observação </th>
      <td mat-cell *matCellDef="let element"> {{element.obs_curso}} </td>
      
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
<div class="example-container">

  <mat-form-field>
    <input matInput [(ngModel)]="newCurso.nome_curso" placeholder="Nome do curso	">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="newCurso.fec_curso" placeholder="FEC">
  </mat-form-field>

  <mat-form-field>
      <input matInput [(ngModel)]="newCurso.cargahora_curso" placeholder="C.H min Regulamentada" type="text">
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="newCurso.cargahora_cursointegrado" placeholder="C.H min Regulamentada Integrado" type="text">
    </mat-form-field>  

    <mat-form-field>
      <input matInput [(ngModel)]="newCurso.eixo_tecnologico" placeholder="Eixo Tecnológico" type="text">
    </mat-form-field>  

    <mat-form-field>
      <input matInput [(ngModel)]="newCurso.tipo_curso" placeholder="Tipo de Curso" type="text">
    </mat-form-field> 

    <mat-form-field>
      <input matInput [(ngModel)]="newCurso.obs_curso" placeholder="Observação" type="text">
    </mat-form-field> 
  
  
  <button (click)="escreve()" >submit</button>
</div>  



