<div class="mat-elevation-z8">
  
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="sigla">
      <th mat-header-cell *matHeaderCellDef> Sigla </th>
      <td mat-cell *matCellDef="let element"> {{element.sigla_area}} </td>
    </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef> Área de Atuação Docente </th>
      <td mat-cell *matCellDef="let element"> {{element.area_atua}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="equi">
      <th mat-header-cell *matHeaderCellDef> Equivalência</th>
      <td mat-cell *matCellDef="let element" > {{element.equi_area}} </td>
      
    </ng-container>

    <ng-container matColumnDef="obs">
      <th mat-header-cell *matHeaderCellDef> Observação </th>
      <td mat-cell *matCellDef="let element"> {{element.obs_area}} </td>
      
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
<div class="example-container">

  <mat-form-field>
    <input matInput [(ngModel)]="newArea.sigla_area" placeholder="Sigla">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="newArea.area_atua" placeholder="Area de Atuação">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="newArea.equi_area" placeholder="Equivalencia">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="newArea.obs_area" placeholder="Observação">
  </mat-form-field>
  
  
  <button (click)="escreve()" >submit</button>
</div>


